@import url('https://fonts.googleapis.com/css?family=Roboto Slab');
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(https://cdn.imgchest.com/files/l4necm69p4m.png);
    background-repeat: no-repeat;
    max-width: 1282px;
    min-height: 1199px;
    font-size: 2rem;
    opacity: 0.5;
    color: blue;
}

.container {
    display: grid;
    grid-template-columns: minmax(20px, 215px) minmax(20px, 565px) minmax(20px, 223px);
    grid-template-rows: 24px 100px 209px 122px 51px 513px;
    grid-template-areas:
      "one one one"
      "two seven seven"
      "three four eight"
      "three four nine"
      "three five five"
      "six  five five";
}

.container > * {
    border: 2px dashed blue;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    }

    .list-bg {
        width: 193px;
        height: 355px;
        background: rgba(255, 255, 255, 0.5);
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
    }

.box3 {
    display: flex;
}

.box3 ul {
    display: flex;
    flex-direction: column;
}

.box1 { grid-area: one; }
.box2 { grid-area: two; }
.box3 { grid-area: three; }
.box4 { grid-area: four; }
.box5 { grid-area: five; }
.box6 { grid-area: six; }
.box7 { grid-area: seven; }
.box8 { grid-area: eight; }
.box9 { grid-area: nine; }

.product-list {
    font-family: 'Roboto Slab', serif;
    font-size: 12px;
    font-weight: bolder;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.product-list li {
    background-color: #2f7f16;   
    color: #ffffff;              
    padding: 8px 12px;           
    text-transform: uppercase;   
    border-bottom: 1px solid #ffffff; 
}

img:nth-of-type(1) {
    display: none;
}
    body {
    background-image: none;
    opacity: 1;
}
  