@import url('https://fonts.googleapis.com/css?family=Roboto Slab');
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(https://cdn.imgchest.com/files/l4necm69p4m.png);
    background-repeat: no-repeat;
    max-width: 1282px;
    min-height: 1199px;
    font-size: 2rem;
    opacity: 0.5;
    color: blue;
}

.container {
    display: grid;
    grid-template-columns: minmax(20px, 215px) minmax(20px, 565px) minmax(20px, 223px);
    grid-template-rows: 24px 100px 209px 122px 51px 513px;
    grid-template-areas:
      "one one one"
      "two seven seven"
      "three four eight"
      "three four nine"
      "three five five"
      "six  five five";
}

.container > * {
    border: 2px dashed blue;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

ul {
    font-family: 'Roboto Slab', serif;
    font-size: 12px;
    font-weight: bold;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    color: #228700;
    max-width: 100%;
    min-height: 100%;
    align-items: start;
    }

    .list-bg {
        width: 193px;
        height: 355px;
        background: rgba(255, 255, 255, 0.5); /* white with 0.5 opacity */
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
    }
    
.box3 {
    display: flex;
}

.box3 ul {
    display: flex;
    flex-direction: column;
}

.box1 { grid-area: one; }
.box2 { grid-area: two; }
.box3 { grid-area: three; }
.box4 { grid-area: four; }
.box5 { grid-area: five; }
.box6 { grid-area: six; }
.box7 { grid-area: seven; }
.box8 { grid-area: eight; }
.box9 { grid-area: nine; }

.product-list {
    font-family: 'Roboto Slab', serif;
    font-size: 11px;
    font-weight: medium;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .products{
    background: rgba(47, 127, 22, 0.5);
    color: #ffffff;
    width: 193px;
    height: 10px;
    flex-basis: 20px; 
    margin-top: 5px;
    padding-left: 11px;
  }

  .electronics {
    flex-basis: 20px;
    padding-left: 13px;
    padding-top: 6px;
  }
  
  .computers {
    flex-basis: 20px;
    margin-top: 17px;
    padding-left: 12px;
  }
  
  .appliances {
    flex-basis: 20px;
    margin-top: 12px;
    padding-left: 13px;
  }
  
  .beauty-health {
    flex-basis: 20px;
    margin-top: 13px;
    padding-left: 12px;
  }
  
  .clothes-accessories {
    flex-basis: 20px;
    margin-top: 12px;
    padding-left: 13px;
  }
  
  .children-products {
    flex-basis: 20px;
    margin-top: 12px;
    padding-left: 12px;
  }
  
  .sport-leisure {
    flex-basis: 20px;
    margin-top: 12px;
    padding-left: 13px;
  }
  
  .auto-products {
    flex-basis: 20px;
    margin-top: 12px;
    padding-left: 12px;
  }
  
  .home-garden-repair {
    flex-basis: 20px;
    margin-top: 12px;
    padding-left: 12px;
  }
  
  .kitchenware {
    flex-basis: 20px;
    margin-top: 12px;
    padding-left: 12px;
  }
  
  .books {
    flex-basis: 20px;
    margin-top: 13px;
    padding-left: 12px;
  }
  