* {
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: tahoma;
}
.image {
    height: 200px;
    background-size: cover;
    background-position: center;
}
.box1 .image {
    background-image: url("https://unsplash.it/300/200?1");
}
.box2 .image {
    background-image: url("https://unsplash.it/300/200?2");
}
.box3 .image {
    background-image: url("https://unsplash.it/300/200?3");
}
.box4 .image {
    background-image: url("https://unsplash.it/500/200?4");
}
.box5 .image {
    background-image: url("https://unsplash.it/800/200?5");
}
.container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
.container > * {
    flex-basis: 200px;
    border: 2px solid firebrick;
    flex-grow: 1;
}
ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    color: pink;
}
.info {
    display: flex;
    flex-direction: column;
    height: 300px;
    padding: 1rem;
}
.box1 > .info { justify-content: space-evenly; }
.box5 > .info {
    justify-content: center;
    align-items: flex-end;
}
.box4 > .info {
    justify-content: flex-end;
    align-items: center;
}

.box2 > .info { justify-content: space-between; }
.box3 > .info { justify-content: space-around; }
.box4 ul { justify-content: space-evenly; }
.box3 ul { justify-content: center; }
.box1 ul { justify-content: flex-end; }
.box5 ul { justify-content: space-between; }
.box2 ul { justify-content: space-around; }
.box2 ul > * { flex-grow: 1; }

button {
    background: firebrick;
    padding: .5rem;
    border: none;
    width: 100%;
    color: white;
}
