body {
    font-family: Verdana;
}
#header {
    background-color: dimgray;
    height: 5.5rem;
    border-bottom: 1rem solid lightseagreen;
}
h1 {
    font-size: 1.5rem;
    color: white;
}
h3 {
    color: lightseagreen;
    width: 20rem;
    margin: 0 auto;
    text-align: center;
    padding-top: 0.5rem;
}
#title {
    height: 34rem;
    background-color: lightgray;
    text-align: center;
}
* {
    margin: 0;
}
#about {
    display: flex;
}
#about img {
    height: 24rem;
}
#fav {
    display: flex;
    justify-content: space-evenly;
}
